@model AspNetMvcEcommerce.Models.CestaDeCompra
@{
    ViewBag.Title = "Quase lá";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    <script>
        function incrementar(produtoId) {
            $.post("checkout", { acao: 'incrementar', produtoId: produtoId })
                .done(function () {
                    location.reload();
                });
        }

        function decrementar(produtoId) {
            $.post("checkout", { acao: 'decrementar', produtoId: produtoId })
                .done(function () {
                    location.reload();
                });
        }

        function remover(produtoId) {
            $.post("checkout", { acao: 'remover', produtoId: produtoId })
                .done(function () {
                    location.reload();
                });
        }
    </script>
}
<h2>Carrinho de compras</h2>
@if (Model.QuantidadeDeItens == 0)
{
    <br />
    <div id="EmptyDataMsg" class="alert alert-info">
        <strong>Bem-Vindo:</strong> Seu carrinho está vazio, vamos as compras!
    </div>
}
else
{
    <table class="cart-page">
        @foreach (var item in Model.Itens.Values)
        {
            <tr>
                <td><span class="p-name">@item.NomeDoProduto</span> </td>
                <td><span class="p-name">@String.Format("{0:c}", item.PrecoUnitario)</span> </td>
                <td>
                    <button class="btn btn-primary" onclick="incrementar(@item.ProdutoId)">+</button>
                    <span class="p-name">@item.Quantidade</span>
                    <button class="btn btn-secondary " onclick="decrementar(@item.ProdutoId)">-</button>
                    <button class="btn btn-danger " onclick="remover(@item.ProdutoId)">Remover</button>
                </td>
            </tr>
        }
        <tr><td>Total: </td><td id="totalPrice" colspan="2">@String.Format("{0:c}", Model.PrecoTotal)</td></tr>
    </table>
    <div class="button">
        @Html.ActionLink("Limpar", "Limpar", "Checkout", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Continuar", "Continuar", "Checkout", null, new { @class = "btn btn-info" })
    </div>
}
