@model AspNetMvcEcommerce.Models.CestaDeCompra

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script>
        function atualizaPrecoTotal() {
            $.ajax({
                type: 'GET',
                url: "Checkout/AtualizaTotal",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    if (msg.precoTotal == "$0.00") {
                        location.reload();
                        return;
                    }

                    $('#totalPrice').text(msg.precoTotal);
                }
            })
        }

        function Change(el, acao, produtoId) {
            var data = {
                'acao': type,
                'produtoId': produtoId
            };

            $.ajax({
                type: 'POST',
                url: "Checkout/AtualizaQuantidade",
                data: data,
                contentType: "application/json; charset=utf-8",
                success: function (retorno) {
                    if (retorno.quantidadeAtual == 0) {
                        el.parentNode.parentNode.remove();
                    } else {
                        $(el).siblings('span')[0].innerHTML = msg.quantidadeAtual
                    }

                    atualizaPrecoTotal()
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    debugger;
                }
            });
        }
</script>
}

<h2>Carrinho de compras</h2>

@if (Model.QuantidadeDeProdutos == 0)
{
    <br />
    <div id="EmptyDataMsg" class="alert alert-info">
        <strong>Bem-Vindo:</strong> Seu carrinho está vazio, vamos as compras!
    </div>
}
else
{
    <table class="cart-page">
        @foreach (var item in Model.Itens.Values)
        {
            <tr>
                <td><span class="p-name">@item.NomeDoProduto</span> </td>
                <td><span class="p-name">@String.Format("{0:c}", item.PrecoUnitario)</span> </td>
                <td>
                    <a class="quantity" onclick="Change(this, 'incrementa', @item.ProdutoId)">+</a>
                    <span class="p-name">@item.Quantity</span>
                    <a class="quantity" onclick="Change(this, 'decrementa',  @item.ProdutoId)">-</a>
                    <a class="remove" onclick="Change(this, 'remove',  @item.ProdutoId)">Remover</a>
                </td>
            </tr>
        }
        <tr><td>Total: </td><td id="totalPrice" colspan="2">@String.Format("{0:c}", ViewBag.PrecoTotalDoCarrinho)</td></tr>
    </table>
    <div class="button">
        @Html.ActionLink("Limpar", "Limpar", "Checkout", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Continuar", "Continuar", "Checkout", null, new { @class = "btn btn-info" })
    </div>
}
