@{
    ViewBag.Title = "Vamos Comprar!";
}

<div class="row">
    <h2>Produtos</h2>
</div>

<div class="row">
    <form>
        <span>Categorias</span>

        <select id="categoria" name="categoria" class="form-control" ">
            <option selected value="">Tudo</option>

            @foreach (var item in ViewBag.Categorias)
            {
                <option value="@item.Descricao">@item.Descricao</option>
            }

        </select>
    </form>
</div>

@if (ViewBag.Produtos.Count == 0)
{
    <br />
    <div class="alert alert-info">
        <strong>Bem-vindo!</strong> Nosso carinho está vazio
    </div>
}
else
{
    <div class="row produtos">
        @foreach (var item in ViewBag.Produtos)
        {
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 list-item">
                <span class="p-cart">@item.Categoria.Descricao</span>
                <span class="p-name">@item.Nome</span>
                <span class="p-description">@item.Descricao</span>

                <div class="add-carinho">
                    <a href="#" class="btn btn-primary">Adiciona</a>
                    <span disabled class="btn btn-info">@String.Format(System.Globalization.CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", item.Preco)</span>
                </div>
            </div>
        }
    </div>

}