@{
    ViewBag.Title = "Home Page";
}

<h2>Produtos</h2>

<form action="/Home/Categoria" method="get" id="categoria" class="option">
    <span>Categorias</span>
    <select id="catName" class="form-control" name="catName" onchange="$('#categoria').submit()">
            <option value="">Tudo</option>
            <option value="Washing Machines">Washing Machines</option>
            <option value="Kettles">Kettles</option>
            <option value="Microwaves">Microwaves</option>
        </select>
</form>

@if (ViewBag.Produtos.Count == 0)
{
    <br/>
    <div id="EmptyDataMsg" class="alert alert-info">
        <strong>Bem-vindo!</strong> Nosso carinho está vazio
    </div>
}
else
{
    <div class="list-view">
        @foreach (var item in ViewBag.Produtos)
        {
            <div class="list-item">
                <span class="p-cart">@item.Categoria</span>
                <span class="p-brand">@item.Marca</span>
                <span class="p-name">@item.Nome</span>
                <span class="p-description">@item.Descricao</span>

                <div class="add-to-cart">
                    @Html.ActionLink("Adicionar", "AdicionaAoCarrinho", "Home", new { id = item.PID }, null)
                    <span class="p-price">@String.Format(System.Globalization.CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", item.PrecoUnitario)</span>
                </div>
        </div>
        }
    </div>
}